body {
    background-image: url("ba3.avif");
     background-size: cover;

}

div{
    height: 200px;
    width: 200px;
     margin-left: 50px;
     margin-top: 60px;
}

#photo {
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("me.jpg");
    background-size: cover;
    margin-top: 40px;
}

h1{
    text-align: center;
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px;
    text-decoration: underline;
}

pre{
    text-align: center;;
}

h2{
    text-align: center;
}

#mid{
   margin-left: 560px;
    
}