* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #222;
    color: white;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    color: #00ffcc;
}

/* Main Section */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.text {
    width: 45%;
}

.text h2 {
    font-size: 32px;
    margin-bottom: 15px;
}

.text p {
    font-size: 18px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #00ffcc;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #00ccaa;
}

/* Image */
.image img {
    width: 300px;
    border-radius: 10px;
     /* text-align: center;
    font-style: underline bold italic black; */
}

.name {
    text-align: center;
    font-style: underline bold  black;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 15px;
}
