.loader{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 20px solid #48304D;
    border-top: 20px solid #E637BF;
    animation: spinAnimation 2s  0s infinite normal;
    position:absolute;
    top: 150px;
    left: 500px;
}

@keyframes spinAnimation {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}